TOKEN=ton_token
CLIENT_ID=ton_client_id

PRESENCE_STATUS=online
PRESENCE_TYPE=4
PRESENCE_TEXT=/config

BOT_NAME=nom_du_bot
BOT_DESCRIPTION=description du bot

CREATOR_CHANNEL_NAME=➕ Créer salon
CREATION_COOLDOWN=15